:root {
    --term-green: #4af626;
    --term-bg: #050505;
    --font-stack: 'VT323', monospace;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--term-bg);
    background-image: url('signal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--font-stack);
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal-container {
    width: 100%;
    max-width: 900px;
    height: 85vh;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    
    background: rgba(5, 5, 5, 0.95);
    border: 1px solid #333;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
}

#terminalOutput {
    color: var(--term-green);
    font-size: 22px; 
    line-height: 1.2;
    white-space: pre-wrap;
    word-wrap: break-word;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
}

#terminalOutput::-webkit-scrollbar {
    display: none;
}

.input-line {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(74, 246, 38, 0.3);
    padding-top: 15px;
}

.prompt {
    color: var(--term-green);
    margin-right: 12px;
    font-size: 22px;
}

#domainInput {
    background: transparent;
    border: none;
    color: var(--term-green);
    font-family: var(--font-stack);
    font-size: 22px;
    flex-grow: 1;
    outline: none;
    caret-color: var(--term-green);
}